{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

{% block title %}chooseworkout block{% endblock %}

{% block maincontentbody %}
<!-- this is the only content that really varies across pages-->
<div id="choicebar">
<form name="choiceform" id="choiceform" action="{% url 'trainapp.views.dataentry' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="wochoice" onchange="submitchoice()">
  <option value="none">choose a workout</option>
  {% for wooption in wooptions%}
      <option value="{{wooption}}">{{wooption|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
</div>
<div id="invispanel"></div>
  <!-- end main content-->
  {% endblock maincontentbody%}