<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Sample document</title>
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  <link rel="stylesheet" href="{% static "trainapp/content.css" %}">
  </head>
  <body>
 <script >
  function submitchoice() {
  document.getElementById("viewdata").submit();
  }
   function submitmain() {
  document.getElementById("mainform").submit();
  }
  </script>
   <header>
    <div id="logoimgL">
  <img class="logoimgL" src="{% static "trainapp/logo.jpg" %}" alt="my image"/>
    <div class="logodiv">
  <span class="logo">{{headertext}}</span>
  </div>
  </div>
  </header>
  <div class="pagecontainer">
<div class="rightpage">
  <div class="navbar">
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.chooseworkout' userid%}"> Enter Workout </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.choosemetric' userid%}"> Report Climb </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.choosedata' userid%}"> View Data </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.newworkout' userid%}"> Add Workout</a></div>
  </div>
  <div class="maincontent">
  <!-- this is the only content that really varies across pages-->
<div id="choicebar">
<form name="viewdata" id="viewdata" action="{% url 'trainapp.views.choosefilters' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="data" onchange="submitchoice()">
  <option value="none">choose data</option>
  {% for datatype in allnames%}
      <option value="{{datatype}}">{{datatype|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
</div>
<div id="panel">
<br>
<form id="mainform" name="mainform" action="{% url 'trainapp.views.viewdata' userid %}" method="post">{% csrf_token %}
{%if woORme == 'wo' %}
workout: <span id="workoutlabel">{{dataclass.WONAME|displayformat}}</span> <br>
<!--SPECIFIC TO WORKOUTS-->
<!-- WOREPS-->
{% if dataclass.WOREPS != '[]'  %}
<div class="rowbig"><div class="menulabel">{{dataclass.WOREPS}}:</div><div class="styledselect2"><select multiple class="gradepanelitemextend" name="WOREPS">
{%for x in workoutreps %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- WOCYCLES-->
{% if dataclass.WOCYCLES != '[]' %}
<div class="rowbig"><div class="menulabel">{{dataclass.WOCYCLES}}:</div><div class="styledselect2"><select multiple class="gradepanelitemextend" name="WOCYCLES">
{%for x in workoutcycles %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- MAXAVG-->
{% if dataclass.WOMAXAVG != '[]' %}
<div class="rowbig"><div class="menulabel">{{dataclass.WOMAXAVG}}:</div><div class="styledselect2"><select multiple="multiple" class="gradepanelitemextend" name="WOMAXAVG">
{%for x in workoutgrades %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- OTHER1-->
{% if dataclass.OTHER1 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER1}}:</div><input class="panelitem" name="OTHER1" type="text" size=10>{
<br></div>{%endif%}
<!-- OTHER2-->
{% if dataclass.OTHER2 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER2}}:</div><input class="panelitem" name="OTHER2" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER3-->
{% if dataclass.OTHER3 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER3}}:</div><input class="panelitem" name="OTHER3" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER4-->
{% if dataclass.OTHER4 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER4}}:</div><input class="panelitem" name="OTHER4" type="text" size=10>
<br></div>{%endif%}
{%else%}
<!--SPECIFIC TO METRICS-->
climb: <span id="workoutlabel">{{dataclass.METRIC|displayformat}}</span> <br>
<div class="rowbig"><div class="menulabel">grade:</div><select multiple class="gradepanelitemextend" name="GRADE">
    <option value="none">---</option>
    {% for grade in graderange%}
      <option value="{{grade}}">{{grade}}</option>
    {% endfor %}
</select><br></div>
</select>
{%endif%}
<!--USE FOR EITHER WORKOUTS OR METRICS-->
<div class="row"><div class="menulabel">comments:</div><input class="panelitem" name="COMMENTS" type="text" size=10><br></div>
<div class="row">   
<div class="menulabel2">location:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" name=OUTDOOR value="1"> outdoor
  <input class="radiodataR" type="radio" name=OUTDOOR value="2"> indoor
   </div>
</div>
<br> 
{% if routetype == 'route' %}
<div class="row"> 
<div class="menulabel2">type:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" id="extras2" name="TYPE" value="sport"> sport
  <input class="radiodataR" type="radio" name="TYPE" value="trad"> trad
   </div>
</div>
<br>
<div class="row"> 
<div class="menulabel2">lead:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" id="extras2" name="LEAD" value="1"> lead
  <input class="radiodataR" type="radio" name="LEAD" value="0"> toprope
   </div>
</div>
<br>
{% endif %}
<div class="row"> 
<div class="menulabel2">status:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" id="extras2" name="STATUS" value="1"> send
  <input class="radiodataR" type="radio" name="STATUS" value="0"> finish
   </div>
</div>
<br>
<br>
SELECT PLOT VARIABLE<br>
<div class="row">  
   <div>
  <input class="radioplot" type="radio" name="countsORavg" value="counts" checked># climbs
  <input class="radioplot" type="radio" name="countsORavg" value="sessions"> # sessions
  <input class="radioplot" type="radio" name="countsORavg" value="avggr"> grade
  <input class="radioplot" type="radio" name="countsORavg" value="avgrep"> reps
   </div>
</div>
<br>
<input type="hidden" name="dataWO" value="{{dataclass.WONAME}}" />
<input type="hidden" name="dataMetric" value="{{dataclass.METRIC}}" />
<input type="hidden" name="METRIC_RELATIONAL" value={{dataclass.METRIC_RELATIONAL}} />
<div class="bottomrow"><div class="navdiv2" id="savebutton"><a class="navlinks" href="#" onclick="submitmain()"> Apply Filter </a></div></div>
</div>
</form>
  <!-- end main content-->
    </div>
</div>  
  <div class="sidebar">
  <div id="imgsection"><img id="mainimg" src="{% static "trainapp/profile.jpg" %}" alt="">
  <div class="infosection">
    <div id="infobackground"></div>
    <div id="infoforeground">
    <p class="heading1" id="maintitle"> <b>{{userid}}</b> </p>
    <p class="heading2"></p>
      </div>
    </div>
    </div>
    <div id="loginsection">
    <div id="userphoto">
    <img id="facephoto" src="{%  static myphoto %}" alt="">
    <div id="goal">
      <br> goal:
    <br> {{goal}} 
    </div>
    </div>
    <a id="login" href="{% url 'trainapp.views.index' %}"> Login as different user</a>
</div>
  </div>
</div>
    <footer>
  <span> {{footertext}} </span>
  </footer>
  </body>
  </html>