{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

{% block title %}choosedata block{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
<div id="choicebar">
<form name="viewdata" id="viewdata" action="{% url 'trainapp.views.choosefilters' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="data" onchange="submitview()">
  <option value="none">choose data</option>
  {% for datatype in allnames%}
      <option value="{{datatype}}">{{datatype|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
</div>
<div id="invispanel">
<br>
workout: <span id="workoutlabel">{{dataclass.WONAME|displayformat}}</span> 
<form id="mainform" name="mainform" action="{% url 'trainapp.views.viewdata' userid %}" method="post">{% csrf_token %}
<!-- INDOUT-->
{% if dataclass.INDOUT != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.INDOUT}}:</div><input type=checkbox class="panelitem" name="INDOUT" value=0>
<br></div>{%endif%}
<!-- WOTIME-->
{% if dataclass.WOTIME != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.WOTIME}}:</div><div class="styledselect"><select class="panelitem" name="WOTIME">
{%for x in workouttimes %}
<option value="{{x}}">{{x}} min</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- WOREPS-->
{% if dataclass.WOREPS != '[]'  %}
<div class="row"><div class="menulabel">{{dataclass.WOREPS}}:</div><div class="styledselect"><select class="panelitem" name="WOREPS">
{%for x in workoutreps %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- WOCYCLES-->
{% if dataclass.WOCYCLES != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.WOCYCLES}}:</div><div class="styledselect"><select class="panelitem" name="WOCYCLES">
{%for x in workoutcycles %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- MAXAVG-->
{% if dataclass.WOMAXAVG != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.WOMAXAVG}}:</div><div class="styledselect"><select class="panelitem" name="WOMAXAVG">
{%for x in workoutgrades %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- CLEANS-->
{% if dataclass.CLEANS != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.CLEANS}}: </div><input class="panelitem" name="CLEANS" type="text" size=5>
<br></div>{%endif%}
<!-- OTHER1-->
{% if dataclass.OTHER1 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER1}}:</div><input class="panelitem" name="OTHER1" type="text" size=10>{
<br></div>{%endif%}
<!-- OTHER2-->
{% if dataclass.OTHER2 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER2}}:</div><input class="panelitem" name="OTHER2" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER3-->
{% if dataclass.OTHER3 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER3}}:</div><input class="panelitem" name="OTHER3" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER4-->
{% if dataclass.OTHER4 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER4}}:</div><input class="panelitem" name="OTHER4" type="text" size=10>
<br></div>{%endif%}
<!-- COMMENTS-->
{% if dataclass.COMMENTS != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.COMMENTS}}:</div><input class="panelitem" name="COMMENTS" type="text" size=10>
<br></div>{%endif%}
<input type="hidden" name="WONAME" value={{dataclass.WONAME}} />
<input type="hidden" name="METRIC" value={{dataclass.METRIC}} />
<input type="hidden" name="METRIC_RELATIONAL" value={{dataclass.METRIC_RELATIONAL}} />
<div class="row"><div class="navdiv" id="savebutton"><a class="navlinks" href="#" onclick="submitmain()"> Enter Workout </a></div></div>
</form>
</div>
  <!-- end main content-->
{% endblock %}