
<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Sample document</title>
  <link rel="stylesheet" href="basics.css">
  </head>
  <body>
<script >
function myFunction() {
document.getElementById("choiceform").submit();
}
</script>
<div>
	<p>Welcome, {{userid}}</p>
  <p id="demo"></p>
	 <form name="choiceform" id="choiceform" action="{% url 'trainapp.views.metrics' userid %}" method="post">{% csrf_token %}
 	<select name="METRIC" onchange="myFunction()">
  <option value="none">choose a workout</option>
  {% for metricoption in metricoptions%}
      <option value="{{metricoption}}">{{metricoption}}</option>
  {% endfor %}
	</select>
</form>
<form name="loginform" action="{% url 'trainapp.views.index' %}" method="post">{% csrf_token %}
	<input type="submit" name="logout" value="logout" />
</form>
</body>
</html>