{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  <link rel="stylesheet" href="{% static "trainapp/content.css" %}">

{% block title %}choosefilters block{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
<div id="choicebar">
<form name="viewdata" id="viewdata" action="{% url 'trainapp.views.choosefilters' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="data" onchange="submitview()">
  <option value="none">choose data</option>
  {% for datatype in allnames%}
      <option value="{{datatype}}">{{datatype|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
</div>
<div id="panel">
<br>
<form id="mainform" name="mainform" action="{% url 'trainapp.views.viewdata' userid %}" method="post">{% csrf_token %}
{%if woORme == 'wo' %}
workout: <span id="workoutlabel">{{dataclass.WONAME|displayformat}}</span> <br>
<!--SPECIFIC TO WORKOUTS-->
<!-- WOREPS-->
{% if dataclass.WOREPS != '[]'  %}
<div class="rowbig"><div class="menulabel">{{dataclass.WOREPS}}:</div><div class="styledselect2"><select multiple class="gradepanelitemextend" name="WOREPS">
{%for x in workoutreps %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- WOCYCLES-->
{% if dataclass.WOCYCLES != '[]' %}
<div class="rowbig"><div class="menulabel">{{dataclass.WOCYCLES}}:</div><div class="styledselect2"><select multiple class="gradepanelitemextend" name="WOCYCLES">
{%for x in workoutcycles %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- MAXAVG-->
{% if dataclass.WOMAXAVG != '[]' %}
<div class="rowbig"><div class="menulabel">{{dataclass.WOMAXAVG}}:</div><div class="styledselect2"><select multiple="multiple" class="gradepanelitemextend" name="WOMAXAVG">
{%for x in workoutgrades %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- OTHER1-->
{% if dataclass.OTHER1 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER1}}:</div><input class="panelitem" name="OTHER1" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER2-->
{% if dataclass.OTHER2 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER2}}:</div><input class="panelitem" name="OTHER2" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER3-->
{% if dataclass.OTHER3 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER3}}:</div><input class="panelitem" name="OTHER3" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER4-->
{% if dataclass.OTHER4 != '[]' %}
<div class="row"><div class="menulabel">{{dataclass.OTHER4}}:</div><input class="panelitem" name="OTHER4" type="text" size=10>
<br></div>{%endif%}
{%else%}
<!--SPECIFIC TO METRICS-->
climb: <span id="workoutlabel">{{dataclass.METRIC|displayformat}}</span> <br>
<div class="rowbig"><div class="menulabel">grade:</div><select multiple class="gradepanelitemextend" name="GRADE">
    <option value="none">---</option>
    {% for grade in graderange%}
      <option value="{{grade}}">{{grade}}</option>
    {% endfor %}
</select><br></div>
</select>
{%endif%}
<!--USE FOR EITHER WORKOUTS OR METRICS-->
<div class="row"><div class="menulabel">comments:</div><input class="panelitem" name="COMMENTS" type="text" size=10><br><br></div>
<div class="row">   
<div class="higher">location:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" name=OUTDOOR value="1"> outdoor
  <input class="radiodataR" type="radio" name=OUTDOOR value="2"> indoor
   </div>
</div>
<br>
{% if routetype == 'route' %}
<div class="row"> 
<div class="higher">type:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" id="extras2" name="TYPE" value="sport"> sport
  <input class="radiodataR" type="radio" name="TYPE" value="trad"> trad
   </div>
</div>
<br>
<div class="row"> 
<div class="higher">lead:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" id="extras2" name="LEAD" value="1"> lead
  <input class="radiodataR" type="radio" name="LEAD" value="0"> toprope
   </div>
</div>
<br>
{% endif %}
<div class="row"> 
<div class="higher">status:</div>
   <div class="datatype">
  <input class="radiodataL" type="radio" id="extras2" name="STATUS" value="1"> send
  <input class="radiodataR" type="radio" name="STATUS" value="0"> finish
   </div>
</div>
<br>
<br>
SELECT PLOT VARIABLE<br>
<div class="row">  
   <div>
  <input class="radioplot" type="radio" name="countsORavg" value="counts" checked># climbs
  <input class="radioplot" type="radio" name="countsORavg" value="sessions"> # sessions
  <input class="radioplot" type="radio" name="countsORavg" value="avggr"> grade
  <input class="radioplot" type="radio" name="countsORavg" value="avgrep"> reps
   </div>
</div>
<br>
<input type="hidden" name="dataWO" value="{{dataclass.WONAME}}" />
<input type="hidden" name="dataMetric" value="{{dataclass.METRIC}}" />
<input type="hidden" name="METRIC_RELATIONAL" value={{dataclass.METRIC_RELATIONAL}} />
<div class="bottomrow"><div class="navdiv2" id="savebutton"><a class="navlinks" href="#" onclick="submitmain()"> Apply Filter </a></div></div>
</div>
</form>
  <!-- end main content-->
  {% endblock maincontentbody%}