{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  <link rel="stylesheet" href="{% static "trainapp/content.css" %}">

{% block title %}choosemetric block{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
  <div id="choicebar">
<form name="choiceform" id="choiceform" action="{% url 'trainapp.views.metrics' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="METRIC" onchange="submitchoice()">
  <option value="none">choose a climb</option>
  {% for metricoption in metricoptions%}
      <option value="{{metricoption}}">{{metricoption|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
</div>
<div id="invispanel"></div>
  <!-- end main content-->
  {% endblock maincontentbody%}