{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

{% block title %}dataentry block{% endblock %}

{% block maincontentbody %}
<!-- this is the only content that really varies across pages-->
<script>
congratslist=[]
if ("{{level}}"=="beginner") {
  congratslist=['5.9a','5.9b','5.9c','5.9d','5.10a','5.10b','5.10c','5.10d','5.11a','5.11b','5.11c','5.11d','5.12a','5.12b','5.12c','5.12d','5.13a','5.13b','5.13c','5.13d','5.14a','5.14b','5.14c','5.14d','5.15a','5.15b','5.15c','5.15d','5.16a', 'v2','v3','v4','v5','v6','v7','v8','v9','v10','v11','v12','v13']}
  else if ("{{level}}"=="intermediate"){
  congratslist=['5.11a','5.11b','5.11c','5.11d','5.12a','5.12b','5.12c','5.12d','5.13a','5.13b','5.13c','5.13d','5.14a','5.14b','5.14c','5.14d','5.15a','5.15b','5.15c','5.15d','5.16a','v4','v5','v6','v7','v8','v9','v10','v11','v12','v13']}
  else if ("{{level}}"=="advanced"){
  congratslist=['5.12c', '5.12d','5.13a','5.13b','5.13c','5.13d','5.14a','5.14b','5.14c','5.14d','5.15a','5.15b','5.15c','5.15d','5.16a','v6','v7','v8','v9','v10','v11','v12','v13']}
  else if ("{{level}}"=="pro") {
  congratslist=['5.15a','5.15b','5.15c','5.15d','5.16a','v8','v9','v10','v11','v12','v13']}
console.log(congratslist)
</script>
<div id="choicebar">
<form name="choiceform" id="choiceform" action="{% url 'trainapp.views.dataentry' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="wochoice" onchange="submitchoice()">
  <option value="none">choose a workout</option>
  {% for wooption in wooptions%}
      <option value="{{wooption}}">{{wooption|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
<form id="mainform" name="mainform" action="{% url 'trainapp.views.updated' userid %}" method="post">{% csrf_token %}
<div id="extraoptions">
  {% if workout.STYLE == 'route' %}
  <div>
  <input class="radiodataL" type="radio" name="TYPE" value="sport" checked=True> Sport
  <input class="radiodataR" id="extras" type="radio" name="TYPE" value="trad"> Trad
  </div>
  {%endif%}
  </div>
</div>
<div id="panel">
<br>
workout: <span id="workoutlabel">{{workout.WONAME|displayformat}}</span> 
<!-- OUTDOOR-->
{% if workout.OUTDOOR != '[]' %}
<div class="row"><div class="menulabel">outdoor</div><input type=checkbox class="panelitem" name="OUTDOOR" value=1>
<br></div>{%endif%}
<!--route things-->
{% if workout.STYLE == 'route' %}
  <div class="row"><div class="menulabel">lead:</div><input class="panelitem" type=checkbox name="LEAD" value=1><br></div>
  {%endif%}
<!-- WOTIME-->
{% if workout.WOTIME != '[]' %}
<div class="row"><div class="menulabel">{{workout.WOTIME}}:</div><div class="styledselect"><select class="panelitem" name="WOTIME">
{%for x in workouttimes %}
<option value="{{x}}">{{x}} min</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- WOREPS-->
{% if workout.WOREPS != '[]'  %}
<div class="row"><div class="menulabel">{{workout.WOREPS}}:</div><div class="styledselect"><select class="panelitem" name="WOREPS">
{%for x in workoutreps %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- WOCYCLES-->
{% if workout.WOCYCLES != '[]' %}
<div class="row"><div class="menulabel">{{workout.WOCYCLES}}:</div><div class="styledselect"><select class="panelitem" name="WOCYCLES">
{%for x in workoutcycles %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- MAXAVG-->
{% if workout.WOMAXAVG != '[]' %}
<div class="row"><div class="menulabel">{{workout.WOMAXAVG}}:</div><div class="styledselect"><select class="panelitem" name="MYWOMAXAVG">
<option value="--">--</option>
{%for x in workoutgrades %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- CLEANS-->
{% if workout.CLEANS != '[]' %}
<div class="row"><div class="menulabel">{{workout.CLEANS}}:</div><div class="styledselect"><select class="panelitem" name="CLEANS">
{%for x in workoutcleans %}
<option value="{{x}}">{{x}}</option>
{%endfor%}
</select></div>
<br></div>{%endif%}
<!-- OTHER1-->
{% if workout.OTHER1 != '[]' %}
<div class="row"><div class="menulabel">{{workout.OTHER1}}:</div><input class="panelitem" name="OTHER1" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER2-->
{% if workout.OTHER2 != '[]' %}
<div class="row"><div class="menulabel">{{workout.OTHER2}}:</div><input class="panelitem" name="OTHER2" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER3-->
{% if workout.OTHER3 != '[]' %}
<div class="row"><div class="menulabel">{{workout.OTHER3}}:</div><input class="panelitem" name="OTHER3" type="text" size=10>
<br></div>{%endif%}
<!-- OTHER4-->
{% if workout.OTHER4 != '[]' %}
<div class="row"><div class="menulabel">{{workout.OTHER4}}:</div><input class="panelitem" name="OTHER4" type="text" size=10>
<br></div>{%endif%}
<!-- COMMENTS-->
{% if workout.COMMENTS != '[]' %}
<div class="row"><div class="menulabel">{{workout.COMMENTS}}:</div><input class="panelitem" name="COMMENTS" type="text" size=10>
<br></div>{%endif%}
<div class="row"><div class="menulabel">date:</div><input id="mydate" class="panelitem" type="date" name="entrydate" value=''></div>
<script src="http://stevenlevithan.com/assets/misc/date.format.js"></script>
<script>
document.getElementById("mydate").value=(new Date()).format("yyyy-mm-dd");
</script>
<input type="hidden" name="WONAME" value={{workout.WONAME}} />
<input type="hidden" name="METRIC" value={{workout.METRIC}} />
<input type="hidden" name="METRIC_RELATIONAL" value={{workout.METRIC_RELATIONAL}} />
<div class="row"><div class="navdiv" id="savebutton"><a class="navlinks" href="#" onclick="submitmain()"> Enter Workout </a></div></div>
</form>
</div>
{% endblock %}
