{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

  {% block mainnavbar%}
  <div class="navbar">
  <div class="navdivmain"><a class="navlinks" href=""> Enter Workout </a></div>
  <div class="navdivmain"><a class="navlinks" href=""> Report Climb </a></div>
  <div class="navdivmain"><a class="navlinks" href=""> Injury </a></div>
  <div class="navdivmain"><a class="navlinks" href=""> View Data </a></div>
  <div class="navdivmain"><a class="navlinks" href=""> Add Workout</a></div>
  </div>
  {%endblock mainnavbar%}

{% block title %}dataentry block{% endblock %}

{% block maincontentbody %}
<!-- this is the only content that really varies across pages-->
	<form id="loginform" name="loginform" action="{% url 'trainapp.views.loggedin' %}" method="post">{% csrf_token %}
 	<div id="choicebar">
    <div class="styledselect">
 		<select id="username" name="username" class="selectmenu" onchange=submitlogin()>
  			<option value="none">new user</option>
  			{% for username in usernames%}
      		<option value="{{username}}">{{username}}</option>
  			{% endfor %}
 		</select>
    </div>
  </div>
  <div id="loginpanel">
    <div id="newuser">
    <label class="menulabel" for="newuser" >new user:  </label>
    <!--<input class="loginitem" type="text" name="newuser" id="newuserfield" size=20 style="color:darkgray;" value="enter username" onfocus='if(this.value == "enter username") { this.value = ""; this.style="color:black;"}' onblur='if(this.value == "") { this.value = "enter username"; this.style="color:gray;" }' />-->
        <input class="loginitem" type="text" name="newuser" id="newuserfield" size=20 placeholder="enter username" />
<br><br>
    <label class="menulabel" for="goal" >climbing goal: </label><input class="loginitem" type="text" name="goal" size=20 placeholder="I want to..."><br><br>
    <label class="menulabel" for="level" >current level: </label>
    <div id="levelselect">
        <div class="styledselect">
 		<select name="level" class="selectmenu">
  			<option value="beginner">beginner (5.8/5.9)</option>
      		<option value="intermediate">intermediate (5.10/5.11)</option>
            <option value="advanced">advanced (5.12/5.13)</option>
            <option value="pro">pro (5.14/5.15)</option>
 		</select>
    </div>
    </div>
    <br><br>    
    <span id="uploader" class="myupload" onclick="fileselector.click()">Upload ID photo<input type="file" id="fileselector" name="files[]" /></span>
        <input type="hidden" name="uploadedphotos" id="uploadedphotos">    
    </div>
      <div class="loggin"><div class="navdiv" id="loginbutton"><a class="navlinks" href="#" onclick="submitlogin()"> Enter </a></div></div>
      <output id="thumbnaildisplay"></output>
 	</div>
  </form>
	<br>

<!-- end main content-->
	{% endblock maincontentbody%}