<!DOCTYPE html>
<html>
  <head>
  {% load trainapptags %}
  {% load staticfiles %}
      <!--for fireworks animation-->
      <link rel="stylesheet" type="text/css" href="{% static "trainapp/fireworks/style/fireworks.css" %}" media="screen" />
      <script type="text/javascript" src="{% static "trainapp/fireworks/script/fireworks.js" %}"></script>
  </head>
  <meta charset="UTF-8">
  <title>traintracker</title>
<!--JQUERY-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <!--my less-->
  <link rel="stylesheet/less" type="text/less" href="{% static "trainapp/basics.less" %}" />
  <link rel="stylesheet/less" type="text/less" href="{% static "trainapp/content.less" %}" />
  <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">-->
  <script src="{% static "trainapp/less-1.6.0.min.js" %}" type="text/javascript"></script>
<!-- Latest compiled and minified bootstrap JavaScript-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>  
<!--prettier dialogs!-->
<script src="{% static "trainapp/bootbox.min.js" %}" type="text/javascript"></script>
  </head>
  <body>   
  <div class="pagecontainer" id="pagecontainer">
<!--for fireworks-->
<div id="fireworks-template">
 <div id="fw" class="firework"></div>
 <div id="fp" class="fireworkParticle"><img src="{% static "trainapp/fireworks/image/particles.gif" %}" alt="" /></div>
</div>
<div id="fireContainer"></div>
<!--end of fireworks-->
<div class="rightpage">
  {% block mainnavbar%}
  <div class="navbar">
  <div class="navdivmain"><a class="navlinks" href="{% url 'trainapp.views.chooseworkout' userid%}"> Enter Workout </a></div>
  <div class="navdivmain"><a class="navlinks" href="{% url 'trainapp.views.choosemetric' userid%}"> Report Climb </a></div>
  <div class="navdivmain"><a class="navlinks" href="{% url 'trainapp.views.injury' userid %}"> Injury</a></div>
  <div class="navdivmain"><a class="navlinks" href="{% url 'trainapp.views.choosedata' userid%}"> View Data </a></div>
  <div class="navdivmain"><a class="navlinks" href="{% url 'trainapp.views.newworkout' userid %}"> Add Workout</a></div>
  </div>
  {% endblock %}
  <div class="maincontent">
  <!-- this is the only content that really varies across pages-->
{% block maincontentbody%}
{% endblock %}
  <!-- end main content-->
  </div>
  </div>  
  <div class="sidebar">
  <div id="imgsection"><img id="mainimg" src="{% static "trainapp/profile.jpg" %}" alt="">
  <div class="infosection">
    <div id="infobackground"></div>
    <div id="infoforeground">
    <p class="heading1" id="maintitle"> <b>{{userid}}</b> </p>
    <p class="heading2"></p>
      </div>
    </div>
    </div>
    <div id="loginsection">
    <div id="userphoto">
    {%if myphoto != 'default' %}
    <img id="facephoto" src="{{myphoto}}" alt="">
    {%else%}
    <img id="facephoto" src="{%  static 'trainapp/default.jpeg' %}" alt="">
    {%endif%}
    <div id="goal">
    {%if goal != 'default' %}
      <br> goal:
    <br> {{goal}} 
    {%else%}
    <br> <br>Strong for Thailand
    {%endif%}
    </div>
    </div>
    <a id="login" href="{% url 'trainapp.views.index' %}"> Login as different user</a>
</div>
  </div>
</div>
    <footer>
  <span> {{footertext}} </span>
  </footer>
<script>
  function submitlogin() {
  console.log('submitting login')
  console.log($('#username').val())
  pass=0;
  if ($('#newuserfield').val()=="" && $('#username').val()=="none") {pass=0;console.log('submission rejected');}
  else {pass=1}
  if (pass){
  document.getElementById("loginform").submit();}
  else {
  mymessage="Please enter a username."
  bootbox.dialog({message:mymessage, title:'Oops', show: true, backdrop: true, closeButton: false, animate: true, className: "myalert", buttons: {ok: {label: "OK", className: "btn-cont", callback: function() {}}}});}
  }
  function submitchoice() {
  document.getElementById("choiceform").submit();
  }
  function submitmainNOCHECKS() {try {document.getElementById("choiceform").submit();} catch (err) {} try {document.getElementById("mainform").submit();} catch (err) {}}    
  function submitmain() {
  pass=1;
  try{
  gradepresent=document.getElementsByName('MYGRADE')[0].value;
  gradepresent=gradepresent.replace(' ','')
  console.log(gradepresent)
  if (gradepresent=='--'){
  pass=0;
  mymessage="Please enter a grade."
  bootbox.dialog({message:mymessage, title:'Oops', show: true, backdrop: true, closeButton: false, animate: true, className: "myalert", buttons: {ok: {label: "OK", className: "btn-cont", callback: function() {}}}});}
  else if ($.inArray(gradepresent, congratslist) > -1 && $('[name="STATUS"]').attr('checked')){mymessage="Good job.";
  pass=0;
  console.log('creating firework')                                                                          
  createFirework(36,200,8,5,42,90,42,34,true,true);  
  setTimeout(function () {
  document.getElementById("mainform").submit();      
  /*bootbox.dialog({message:mymessage, title:'Congrats!', show: true, backdrop: true, closeButton: false, animate: true, className: "myalert", buttons: {ok: {label: "OK", className: "btn-cont", callback: function() {document.getElementById("mainform").submit();}}}}); */       
    }, 1000);                                                                                             
  }
  }
      catch (err){}
  try{
  maxavgpresent=document.getElementsByName('MYWOMAXAVG')[0].value;
  maxavgpresent=maxavgpresent.replace(' ','')
  console.log(maxavgpresent)
  if (maxavgpresent=='--'){
  pass=0;
  mymessage="Please enter a grade.";     
  bootbox.dialog({message:mymessage, title:'Oops', show: true, backdrop: true, closeButton: false, animate: true, className: "myalert", buttons: {ok: {label: "OK", className: "btn-cont", callback: function() {}}}});}
  else if ($.inArray(maxavgpresent, congratslist) > -1 && document.getElementsByName('CLEANS')[0].value>0){mymessage="Good job.";
  pass=0;
  console.log('creating firework')                                                                              
  createFirework(36,200,8,5,42,90,42,34,true,true);                                                             
  setTimeout(function () {
  document.getElementById("mainform").submit();
  /*bootbox.dialog({message:mymessage, title:'Congrats!', show: true, backdrop: true, closeButton: false, animate: true, className: "myalert", buttons: {ok: {label: "OK", className: "btn-cont", callback: function() {document.getElementById("mainform").submit();}}}}); */       
    }, 1000); }
  }
catch (err){}
try{
  injurypresent=document.getElementsByName('CHOSENINJURY')[0].value;
  if (injurypresent=='none'){
  pass=0;
  mymessage="Please select an injury.";
  bootbox.dialog({message:mymessage, title:'Oops', show: true, backdrop: true, closeButton: false, animate: true, className: "myalert", buttons: {ok: {label: "OK", className: "btn-cont", callback: function() {}}}});;}}
      catch (err){}
  if (pass) {document.getElementById("mainform").submit();}
  }   
  function submitview() {
  document.getElementById("viewdata").submit();
  }
  base64sToUpload= new Array()
  function handleFileSelect(uploadevent) {
    var files = uploadevent.target.files; // FileList object
    // Loop through the FileList and render image files as thumbnails.
    for (var i = 0, f; f = files[i]; i++) {

      // Only process image files.
      if (!f.type.match('image.*')) {
        continue;
      }
      var reader = new FileReader();
      // if you want to display thumbnail
      // Closure to capture the file information.
      reader.onload = (function(theFile) {
        return function(e) {
          // Render thumbnail.
          var span = document.createElement('span');
            console.log(e)
            console.log('base64output:')
            console.log(e.target.result)
            base64sToUpload.push(e.target.result);
            console.log('array:')
            console.log(base64sToUpload)
            //document.getElementById('uploadedphotos').value=base64sToUpload;
            document.getElementById('uploadedphotos').value=e.target.result;
          span.innerHTML = ['<img class="mythumbnail" src="', e.target.result,
                            '" title="', escape(theFile.name), '"/>'].join('');
          document.getElementById('thumbnaildisplay').insertBefore(span, null);
        };
      })(f);
      // Read in the image file as a data URL.
      base64=reader.readAsDataURL(f);
    }
  }
    try{
  document.getElementById('fileselector').addEventListener('change', handleFileSelect, false);}
    catch (err){}
  </script>
  </body>
  </html>