{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

{% block title %}metrics block{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
<script>
congratslist=[]
if ("{{level}}"=="beginner") {
  congratslist=['5.9c','5.9d','5.10a','5.10b','5.10c','5.10d','5.11a','5.11b','5.11c','5.11d','5.12a','5.12b','5.12c','5.12d','5.13a','5.13b','5.13c','5.13d','5.14a','5.14b','5.14c','5.14d','5.15a','5.15b','5.15c','5.15d','5.16a', 'v3','v4','v5','v6','v7','v8','v9','v10','v11','v12','v13']}
  else if ("{{level}}"=="intermediate"){
  congratslist=['5.11c','5.11d','5.12a','5.12b','5.12c','5.12d','5.13a','5.13b','5.13c','5.13d','5.14a','5.14b','5.14c','5.14d','5.15a','5.15b','5.15c','5.15d','5.16a','v6','v7','v8','v9','v10','v11','v12','v13']}
  else if ("{{level}}"=="advanced"){
  congratslist=['5.13a','5.13b','5.13c','5.13d','5.14a','5.14b','5.14c','5.14d','5.15a','5.15b','5.15c','5.15d','5.16a','v8','v9','v10','v11','v12','v13']}
  else if ("{{level}}"=="pro") {
  congratslist=['5.15a','5.15b','5.15c','5.15d','5.16a','v10','v11','v12','v13']}
console.log(congratslist)
</script>
<div id="choicebar">
<form name="choiceform" id="choiceform" action="{% url 'trainapp.views.metrics' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="METRIC" onchange="submitchoice()">
  <option value="none">choose a climb</option>
  {% for metricoption in metricoptions%}
      <option value="{{metricoption}}">{{metricoption|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
<form id="mainform" name="mainform" action="{% url 'trainapp.views.report' userid %}" method="post">{% csrf_token %}
<div id="extraoptions">
  {% if metricinfo.STYLE == 'route' %}
  <div>
  <input class="radiodataL" type="radio" name="TYPE" value="sport" checked=True> Sport
  <input class="radiodataR" id="extras" type="radio" name="TYPE" value="trad"> Trad
  </div>
  {%endif%}
  </div>
</div>
<div id="panel">
<br>
Climb Type: <span id="workoutlabel">{{metric|displayformat}}</span> 
<!-- INDOUT-->
<div class="row"><div class="menulabel">Outdoor:</div><input class="panelitem" type=checkbox name="OUTDOOR" value=1><br></div>
{% if metricinfo.STYLE == 'route' %}
  <div class="row"><div class="menulabel">Lead:</div><input class="panelitem" type=checkbox name="LEAD" value=1><br></div>
  {%endif%}
  <div class="row"><div class="menulabel">Send:</div><input class="panelitem" type=checkbox name="STATUS" value=1><br></div>
<div class="row"><div class="menulabel">Grade:</div><div class="styledselect"><select class="panelitem" name="MYGRADE">
    <option value="--">--</option>
  	{% for grade in graderange%}
      <option value="{{grade}}">{{grade}}</option>
  	{% endfor %}
</select> </div><br></div>
<div class="row"><div class="menulabel">Comments:</div> <input class="panelitem" type=text name="COMMENTS" size=10><br></div>
<div class="row"><div class="menulabel">Date:</div><input id="mydate" class="panelitem" type="date" name="entrydate" value=''></div>
<script src="http://stevenlevithan.com/assets/misc/date.format.js"></script>
<script>
document.getElementById("mydate").value=(new Date()).format("yyyy-mm-dd");
</script>
<input type="hidden" name="METRIC" value={{metric}} />
<div class="row"><div class="navdiv" id="savebutton"><a class="navlinks" href="#" onclick="submitmain()"> Save </a></div></div>
	</form>
</div>
  <!-- end main content-->
  {% endblock maincontentbody%}