{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  <link rel="stylesheet" href="{% static "trainapp/content.css" %}">

{% block title %}metrics block{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
<div id="choicebar">
<form name="choiceform" id="choiceform" action="{% url 'trainapp.views.metrics' userid %}" method="post">{% csrf_token %}
  <div class="styledselect">
  <select class="selectmenu" name="METRIC" onchange="submitchoice()">
  <option value="none">choose a climb</option>
  {% for metricoption in metricoptions%}
      <option value="{{metricoption}}">{{metricoption|displayformat}}</option>
  {% endfor %}
  </select>
</div>
</form>
<form id="mainform" name="mainform" action="{% url 'trainapp.views.report' userid %}" method="post">{% csrf_token %}
<div id="extraoptions">
  {% if metricinfo.STYLE == 'route' %}
  <div>
  <input class="radiodataL" type="radio" name="TYPE" value="sport" checked=True> Sport
  <input class="radiodataR" id="extras" type="radio" name="TYPE" value="trad"> Trad
  </div>
  {%endif%}
  </div>
</div>
<div id="panel">
<br>
Climb Type: <span id="workoutlabel">{{metric|displayformat}}</span> 
<!-- INDOUT-->
<div class="row"><div class="menulabel">Outdoor:</div><input class="panelitem" type=checkbox name="OUTDOOR" value=1><br></div>
{% if metricinfo.STYLE == 'route' %}
  <div class="row"><div class="menulabel">Lead:</div><input class="panelitem" type=checkbox name="LEAD" value=1><br></div>
  {%endif%}
  <div class="row"><div class="menulabel">Send:</div><input class="panelitem" type=checkbox name="STATUS" value=1><br></div>
<div class="row"><div class="menulabel">Grade:</div><select class="panelitem" name="GRADE">
  	<option value="none">---</option>
  	{% for grade in graderange%}
      <option value="{{grade}}">{{grade}}</option>
  	{% endfor %}
</select><br></div>
<div class="row"><div class="menulabel">Comments:</div> <input class="panelitem" type=text name="COMMENTS" size=10><br></div>
<div class="row"><div class="menulabel">Date:</div><input class="panelitem" type="date" name="entrydate"></div>
<input type="hidden" name="METRIC" value={{metric}} />
<div class="row"><div class="navdiv" id="savebutton"><a class="navlinks" href="#" onclick="submitmain()"> Save </a></div></div>
	</form>
</div>
  <!-- end main content-->
  {% endblock maincontentbody%}