{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

{% block title %}dataentry block{% endblock %}

{% block maincontentbody %}
<!-- this is the only content that really varies across pages-->
<form id="mainform" name="mainform" action="{% url 'trainapp.views.newworkoutupdate' userid %}" method="post">{% csrf_token %}

<div id="panel">
 <b> Enter new workout info.</b> 
<br>
<div class="row"><div class="menulabel2">Workout name:</div><input class="panelitem" name="inputname" type="text" size=10></div><br>
<div class="row"><div class="menulabel">Style:</div><div class="nw">
  <input class="radiodataL2" type="radio" name="inputstyle" value="boulder"> Boulder
  <input class="radiodataR2" type="radio" name="inputstyle" value="route"> Route
  <input class="radiodataR2" type="radio" name="inputstyle" value="other" checked=True> Other
  </div></div><br>
<b>Check inputs relevant to this workout.</b>
<div class="row"><div class="menulabel2">Reps? </div><input type=checkbox class="panelitem" name="inputreps" value=1></div><br>
<div class="row"><div class="menulabel2">Cycles?</div><input type=checkbox class="panelitem" name="inputcycles" value=1></div><br>
<div class="row"><div class="menulabel2">Grades?</div><input type=checkbox class="panelitem" name="inputgrade" value=1></div><br>
<b><br>Add your own parameter names.</b>
<div class="row"><div class="menulabel2">Other1:</div><input class="panelitem" name="inputother1" type="text" size=10></div><br>
<div class="row"><div class="menulabel2">Other2:</div><input class="panelitem" name="inputother2" type="text" size=10></div><br>
<div class="row"><div class="menulabel2">Other3:</div><input class="panelitem" name="inputother3" type="text" size=10></div><br>
<div class="row"><div class="menulabel2">Other4:</div><input class="panelitem" name="inputother4" type="text" size=10></div>
<input type="hidden" name="WONAME" value={{workout.WONAME}} />
<input type="hidden" name="METRIC" value={{workout.METRIC}} />
<input type="hidden" name="METRIC_RELATIONAL" value={{workout.METRIC_RELATIONAL}} />
<div class="row"><div class="navdiv2" id="savebutton"><a class="navlinks" href="#" onclick="submitmain()"> Enter Workout </a></div></div>
</form>
</div>
{% endblock %}