{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  <link rel="stylesheet" href="{% static "trainapp/content.css" %}">

{% block title %}plotdata{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
<div><img id="plotimg" src="{% static photoshow %}" alt=""></div>
<br>
<div class="navdiv" id="morebutton"><a class="navlinks" href="{% url 'trainapp.views.choosedata' userid%}"> Add another variable </a></div>
  <!-- end main content-->
 {% endblock maincontentbody%}