{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  <link rel="stylesheet" href="{% static "trainapp/content.css" %}">

{% block title %}report{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
<div class="updated">
  <h2> Climb updated! </h1>
  <h3> Summary:</h3>
  </div>
  <div class="reportcontent">
  <span id="heading">{{mentry.METRIC|displayformat|uppercase}} </span>
  <ul>
    <li>location:
    {%if mentry.OUTDOOR%}
    Outdoor
    {%else%}
    Indoor
    {%endif%}</li>
    <li>grade:
    {{mentry.GRADE}}</li>
    <li>date:
    {{mentry.DATE}}</li>
    <li>status:
    {% if mentry.STATUS %}
    sent
    {%else%}
    finished
    {%endif%}
    </li>
    {%if mentry.LEAD|makestr != '[]'%}
    <li>style:
    {% if mentry.LEAD %}
    lead
    {%else%}
    toproped
    {%endif%}
    </li>
    {%endif%}
    {%if mentry.TYPE|makestr != '[]'%}
    <li>type:
   {{mentry.TYPE}}
    </li>
    {%endif%}
    <li>comments:
    {{mentry.COMMENTS}}</li>
   </ul>
 </div>
  <!-- end main content-->
  {% endblock maincontentbody%}