<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Sample document</title>
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  <link rel="stylesheet" href="{% static "trainapp/content.css" %}">
  </head>
  <body>
  	<script >
	function myFunction() {
	document.getElementById("choiceform").submit();
	}
	</script>
   <header>
    <div id="logoimgL">
  <img class="logoimgL" src="{% static "trainapp/logo.jpg" %}" alt="my image"/>
    <div class="logodiv">
  <span class="logo">{{headertext}}</span>
  </div>
  </div>
  </header>
  <div class="pagecontainer">
<div class="rightpage">
  <div class="navbar">
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.chooseworkout' userid%}"> Enter Workout </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.choosemetric' userid%}"> Report Climb </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.choosedata' userid%}"> View Data </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.index' %}"> Add Workout</a></div>
  </div>
  <div class="maincontent">
  <!-- this is the only content that really varies across pages-->
<div class="updated">
  <h2> Climb updated! </h1>
  <h3> Summary:</h3>
  </div>
  <div class="reportcontent">
  <span id="heading">{{mentry.METRIC|displayformat|uppercase}} </span>
  <ul>
    <li>location:
    {%if mentry.OUTDOOR%}
    Outdoor
    {%else%}
    Indoor
    {%endif%}</li>
    <li>grade:
    {{mentry.GRADE}}</li>
    <li>date:
    {{mentry.DATE}}</li>
    <li>status:
    {% if mentry.STATUS %}
    sent
    {%else%}
    finished
    {%endif%}
    </li>
    {%if mentry.LEAD|makestr != '[]'%}
    <li>style:
    {% if mentry.LEAD %}
    lead
    {%else%}
    toproped
    {%endif%}
    </li>
    {%endif%}
    {%if mentry.TYPE|makestr != '[]'%}
    <li>type:
   {{mentry.TYPE}}
    </li>
    {%endif%}
    <li>comments:
    {{mentry.COMMENTS}}</li>
   </ul>
 </div>
  <!-- end main content-->
  </div>
  </div>  
  <div class="sidebar">
  <div id="imgsection"><img id="mainimg" src="{% static "trainapp/profile.jpg" %}" alt="">
  <div class="infosection">
    <div id="infobackground"></div>
    <div id="infoforeground">
    <p class="heading1" id="maintitle"> <b>{{userid}}</b> </p>
    <p class="heading2"></p>
      </div>
    </div>
    </div>
    <div id="loginsection">
    <div id="userphoto">
    <img id="facephoto" src="{%  static myphoto %}" alt="">
    <div id="goal">
      <br> goal:
    <br> {{goal}} 
    </div>
    </div>
    <a id="login" href="{% url 'trainapp.views.index' %}"> Login as different user</a>
</div>
  </div>
</div>
    <footer>
  <span> {{footertext}} </span>
  </footer>
  </body>
  </html>