{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

{% block title %}updated{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
  <div class="updated">
  <h2> Workout updated! </h1>
  <h3> Summary:</h3>
  </div>
	<div class="reportcontent">
  <span id="heading">Workout: {{entry.WONAME|displayformat|uppercase}} </span>
  <ul>
    {% if workout.WOTIME != '[]' %}
    <li>{{workout.WOTIME}}:
    {{entry.WOTIME}} mins</li>
    {%endif%}
    {% if workout.WOREPS != '[]' %}
    <li>{{workout.WOREPS}}:
    {{entry.WOREPS}} reps</li>
    {%endif%}
    {% if workout.WOCYCLES != '[]' %}
     <li>{{workout.WOCYCLES}}:
     {{entry.WOCYCLES}} cycles</li>
     {%endif%}
    {% if workout.WOMAXAVG != '[]' %}
     <li>{{workout.WOMAXAVG}}:
     {{entry.WOMAXAVG}}</li>
     {%endif%}
    {% if workout.CLEANS != '[]' %}
     <li>{{workout.CLEANS}}:
     {{entry.CLEANS}}</li>
     {%endif%}
    {% if entry.LEAD|makestr != '[]' %}
    <li>style:
    {% if entry.LEAD %}
    lead
    {%else%}
    toproped
    {%endif%}
    </li>
    {%endif%}
    {% if entry.TYPE|makestr != '[]' %}
    <li>type:
   {{entry.TYPE}}
    </li>
    {%endif%}
    <li>location:
    {%if entry.OUTDOOR%}
    Outdoor
    {%else%}
    Indoor
    {%endif%}</li>
    {% if workout.OTHER1 != '[]' %}
    <li>{{workout.OTHER1}}:
    {{entry.OTHER1}}</li>
    {%endif%}
    {% if workout.OTHER2 != '[]' %}
    <li>{{workout.OTHER2}}:
    {{entry.OTHER2}}</li>
    {%endif%}
    {% if workout.OTHER3 != '[]' %}
    <li>{{workout.OTHER3}}:
    {{entry.OTHER3}}</li>
    {%endif%}
    {% if workout.OTHER4 != '[]' %}
    <li>{{workout.OTHER4}}:
    {{entry.OTHER4}}</li>
    {%endif%}
    {% if workout.COMMENTS != '[]' %}
    <li>{{workout.COMMENTS}}:
    {{entry.COMMENTS}}</li>
    {%endif%}
   </ul>
 </div>
  <!-- end main content-->
  {% endblock maincontentbody%}