<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <title>Sample document</title>
  {% load trainapptags %}
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "trainapp/basics.css" %}">
  </head>
  <body>

  </script>
   <header>
    <div id="logoimgL">
  <img class="logoimgL" src="{% static "trainapp/harvard.jpeg" %}" alt="my image"/>
    <div class="logodiv">
  <p class="logo">TrainTracker</p>
  <p class="logo">strong for thailand</p>
  </div>
  </div>
  </header>
  <div class="pagecontainer">
<div class="rightpage">
  rightpage
  <div class="navbar">
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.chooseworkout' userid%}"> Enter Workout </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.choosemetric' userid%}"> Report Climb </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.choosedata' userid%}"> View Data </a></div>
  <div class="navdiv"><a class="navlinks" href="{% url 'trainapp.views.index' %}"> Add Workout</a></div>
  </div>
  <div class="maincontent">
  <!-- this is the only content that really varies across pages-->
	{% load trainapptags %}
	<p>Welcome, {{userid}}</p>
    <br>
    workout: 
    {{entry.WONAME|displayformat}}
    <br>
    {% if workout.WOTIME != '[]' %}
    {{workout.WOTIME}}:
    {{entry.WOTIME}}
    {%endif%}
    <br>
    {% if workout.WOREPS != '[]' %}
    {{workout.WOREPS}}:
    {{entry.WOREPS}}
    {%endif%}
    <br>
    {% if workout.WOCYCLES != '[]' %}
     {{workout.WOCYCLES}}:
     {{entry.WOCYCLES}}
     {%endif%}
    <br>
    {% if workout.WOMAXAVG != '[]' %}
     {{workout.WOMAXAVG}}:
     {{entry.WOMAXAVG}}
     {%endif%}
    <br>
    {% if workout.CLEANS != '[]' %}
     {{workout.CLEANS}}:
     {{entry.CLEANS}}
     {%endif%}
    <br>
    {% if workout.OTHER1 != '[]' %}
    {{workout.OTHER1}}:
    {{entry.OTHER1}}
    {%endif%}
    <br>
    {% if workout.OTHER2 != '[]' %}
    {{workout.OTHER2}}:
    {{entry.OTHER2}}
    {%endif%}
    <br>
    {% if workout.OTHER3 != '[]' %}
    {{workout.OTHER3}}:
    {{entry.OTHER3}}
    {%endif%}
    <br>
    {% if workout.OTHER4 != '[]' %}
    {{workout.OTHER4}}:
    {{entry.OTHER4}}
    {%endif%}
    <br>
    {% if workout.COMMENTS != '[]' %}
    {{workout.COMMENTS}}:
    {{entry.COMMENTS}}
    {%endif%}
    <br>
    updated!
    <br>
  <!-- end main content-->
  </div>
  </div>  
  <div class="sidebar">
  <div id="imgsection"><img id="mainimg" src="{% static "trainapp/profile.jpg" %}" alt="">
  <div class="infosection">
    <div id="infobackground"></div>
    <div id="infoforeground">
    <p class="heading1" id="maintitle"> <b>{{userid}}</b> </p>
    <p class="heading2"></p>
      </div>
    </div>
    </div>
    <div id="loginsection">
    <div id="userphoto">
    <img id="facephoto" src="{%  static myphoto %}" alt="">
    <div id="goal">
    <br> {{goal}} 
    </div>
    </div>
    <a id="login" href="{% url 'trainapp.views.index' %}"> Login as different user</a>
</div>
  </div>
</div>
    <footer>
  <p>climb rocks</p>
  </footer>
  </body>
  </html>