{% extends "trainapp/mainboilerplate.html" %}
  {% load trainapptags %}
  {% load staticfiles %}

{% block title %}viewdata{% endblock %}

{% block maincontentbody %}
  <!-- this is the only content that really varies across pages-->
<br>
Plot variables selected:
<ul>
{%for choice in datachoices%}
<li>{{choice.name|displayformat}}</li>
{%endfor%}
</ul>
<br>
<div class="navdiv" id="nextbutton"><a class="navlinks" href="{% url 'trainapp.views.choosedata' userid%}"> Choose another variable </a></div>
<div class="navdiv" id="nextbutton"><a class="navlinks" href="{% url 'trainapp.views.plotdata' userid%}"> View Data </a></div>

  <!-- end main content-->
{% endblock maincontentbody%}